.add-show-form {
     box-shadow: 0px 0px 16px 2px #82838673;
    /* width: 60%; */
    background-color: white;
    margin: 25px auto;
    font-family: sans-serif;
    padding: 0px;
    
    
}
.add-show-form form {
    padding: 20px;
}

.add-show-form input[type="text"] {
    padding: 10px;
    width: 97%;
    margin: 10px;
}

#btn-add {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7ab1e9;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

#btn-add:hover {
    background-color: #0056b3;
}

.tv-show {
    background-color: #F6F6F6;
    height: 40px;
    padding: 10px 30px;
    font-weight: bold;
    width: 100%;
}

.add-show-form label {
    font-weight: bold;
    margin-left: 10px;
}
.tvShow{
    display: none;
    padding-left: 15px;
    padding-bottom: 10px;
    
}