body {
  background-color: #e0e3e8;
  
}

.navbar .container-fluid {
  padding: 0;
}

/* start nav style */
.navbar {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.262);
  font-size: 20px;
  background-color: white;
  height: 50px;
}
.nav-item:hover {
  background-color: #f7f7f7;
  width: 70px;
  outline: dotted;
}
.container-fluid {
  background-color: #ffffff;
}
.navbar-brand {
  background-color: #ffe939;
  margin-left: 0px 0px 0px 0px;
  padding: 10px;
  margin-left: 0px;
}
.btn-nav {
  border: none;
  margin: 0 5px;
  background-color: transparent;
  font-size: large;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.63);
}

.btn-nav:hover {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* end nav style */

footer {
  background-color: aliceblue;
  height: 50px;
  display: flex; /* enable flex */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}

footer p {
  margin: unset;
}
